<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gruppe 72</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery.min.js"></script>
        <script src="js/galgeleg.js"></script>
    </head>
    <body>
        <div id="gamewindow">
            <img src="img/galge.png" alt="0 forkerte"><br>
            <div id="visibleWord">SYNLIGORD</div><br>
            <div id="usedLetters">BRUGTEBOGSTAVER</div><br>
            <div id="triesLeft">6 forsøg tilbage</div><br>
            <input type="text" id="input"><div id="inputErrorMsg" class="errorMsg"></div><br>
            <button id="guess">Gæt</button><br>
        </div> 
    </body>
</html>
