<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gruppe 72</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery.min.js"></script>
        <script src="js/login.js"></script>
    </head>
    <body>
        <h1>Gruppe 72 Galgeleg</h1>
        <h2>login</h2>
        
        <div>
            Brugernavn<br>
            <input id="usernameInput" type="text"/><br>
            Password<br>
            <input id="passwordInput" type="password"/><br>
            <button id="login">Login</button><br>
            <div id="error"></div>
        </div>
    </body>
</html>
